/* Name- Maninderpal Singh
   Date- 10 October, 2024 */
html {
  font-family: sans-serif;
}

/* Your CSS below here */
.cool-box {
  width: 300px; 
  height: 200px; 
  background-color: red; 
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
              inset 2px 2px 5px rgb(255, 245, 245),
              inset -4px -4px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 50px auto; 
  color: rgb(255, 255, 255); 
  font-size: 1.5rem; 
  font-weight: normal;
  text-align: center; 
  text-shadow: 2.5px 2px 2px black; 
  border: 1px solid red;
  background: linear-gradient(154deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 100%,);
}
